# Object files
*.o

# Backups
*~

# Mac OS X metadata
*.DS_Store

#
# Xcode gitignore settings are from https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore
#

## Xcode, Build generated
build/
DerivedData/

## Xcode, Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
xcschemes/
project.xcworkspace/

## Xcode, Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

#
# JetBrains IDE settings
#
*.idea

#
# SheepShaver guest media and local prefs (WP0). Never commit ROMs or images.
# Keep SheepShaver/src/MacOSX/prefs.os921.template; ignore a filled-in "prefs".
# Local G0 files live under $HOME/Library/Application Support/SheepShaver/os921/
# (setup-os921-prefs.sh). Do not copy a ROM or .toast into this tree.
#
Mac OS ROM
*.smi
*.smi.bin
*.toast
*.dmg
*.iso
*.dsk
*.hfv
*.img
*.cdr
*.hfs
prefs
.sheepshaver_prefs
os921-local/
SheepShaver/src/MacOSX/SDL2.framework
